<style>
  .f-info-links a {
    text-decoration: none;
    color: #222222;
  }

  .f-info-links a:hover {
    text-decoration: underline;
  }

  .f-info-links,
  .f-info-socials,
  .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .f-info-socials i {
    font-size: 1.5rem;
    margin: 1rem;
    opacity: 0.7;
  }

  .f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: space-evenly;
  }

  .f-info-socials i:hover {
    margin-bottom: 0%;
    font-size: 2rem;
    cursor: pointer;
    opacity: 1;
  }
</style>
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited.</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>